PORT=5000
MONGO_URI=mongodb+srv://coderdjsce0786_db_user:Mentorgiri@cluster0.mhbqglh.mongodb.net/clarity?retryWrites=true&w=majority
JWT_SECRET=clarity_super_secret_key_2025
FINNHUB_API_KEY= d73qpbhr01qjjol40ligd73qpbhr01qjjol40lj0
NEWS_API_KEY=0863ca4f9ad14c5e8c215aa83cf5d14c
GEMINI_API_KEY=AIzaSyC71TMm_icNlZ_1Q4LDMryKNLw1vOxWbxY