PORT=5000
MONGO_URI=mongodb+srv://coderdjsce0786_db_user:Mentorgiri@cluster0.mhbqglh.mongodb.net/clarity?retryWrites=true&w=majority
FINNHUB_API_KEY=your_key
NEWS_API_KEY=your_key
GEMINI_API_KEY=your_key